<!-- <p>Passed iD {{passingId}}</p>
<p *ngIf="SelectedMenuItem"> {{SelectedMenuItem.m_display_t}} </p> -->

<div class="wapper-main">

    <div class="row content-header">
        <div class="col-md-12">
            <p class="tredning">TRENDING TECHNOLOGIES</p>
            <h1 class="topic" *ngIf="SelectedMenuItem"> <strong>{{SelectedMenuItem.m_display_t}}</strong></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-5 sub-topic-container"> 
            <div class="row">
                <div class="col-md-9">
                    <p class="tredning-subtopic"><strong>SUB TOPICS</strong></p>
                    <h4 class="tredning-subtopic-name mb-0"> JavaScript</h4>
                    <p class="tredning-subtopic-count" style="font-size: 0.9ems ;"> (11 Sub-topics)</p>
                    <p class="tredning-subtopic" style="color: #fff!important;"> Expand sub topic ></p>
                </div>
                <div class="col-md-3">
                    <img class="path-icon" src="https://pluralsight2.imgix.net/paths/images/javascript-542e10ea6e.png"
                        alt="JavaScript Path">
                </div>
            </div>
        </div>

        <div class="col-5 sub-topic-container">
            <div class="row">
                <div class="col-md-9">
                    <p class="tredning-subtopic"><strong>SUB TOPICS</strong></p>
                    <h4 class="tredning-subtopic-name mb-0"> JavaScript</h4>
                    <p class="tredning-subtopic-count" style="font-size: 0.9ems ;"> (11 Sub-topics)</p>
                    <p class="tredning-subtopic" style="color: #fff!important;"> Expand sub topic ></p>
                </div>
                <div class="col-md-3">
                    <img class="path-icon" src="https://pluralsight2.imgix.net/paths/images/javascript-542e10ea6e.png"
                        alt="JavaScript Path">
                </div>
            </div>
        </div>

        <div class="col-5 sub-topic-container">
            <div class="row">
                <div class="col-md-9">
                    <p class="tredning-subtopic"><strong>SUB TOPICS</strong></p>
                    <h4 class="tredning-subtopic-name mb-0"> JavaScript</h4>
                    <p class="tredning-subtopic-count" style="font-size: 0.9ems ;"> (11 Sub-topics)</p>
                    <p class="tredning-subtopic" style="color: #fff!important;"> Expand sub topic ></p>
                </div>
                <div class="col-md-3">
                    <img class="path-icon" src="https://pluralsight2.imgix.net/paths/images/javascript-542e10ea6e.png"
                        alt="JavaScript Path">
                </div>
            </div>
        </div>
        
        <div class="col-5 sub-topic-container">
            <div class="row">
                <div class="col-md-9">
                    <p class="tredning-subtopic"><strong>SUB TOPICS</strong></p>
                    <h4 class="tredning-subtopic-name mb-0"> JavaScript</h4>
                    <p class="tredning-subtopic-count" style="font-size: 0.9ems ;"> (11 Sub-topics)</p>
                    <p class="tredning-subtopic" style="color: #fff!important;"> Expand sub topic ></p>
                </div>
                <div class="col-md-3">
                    <img class="path-icon" src="https://pluralsight2.imgix.net/paths/images/javascript-542e10ea6e.png"
                        alt="JavaScript Path">
                </div>
            </div>
        </div>

    </div>

</div>