<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
                    LMS Dashboard
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Path</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-sort-alpha-asc fa-2x" aria-hidden="true"></i>
                    </span>
                    Zero to hero
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-random fa-2x" aria-hidden="true"></i>
                    </span>
                    Absolute beginners
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-podcast fa-2x" aria-hidden="true"></i>
                    </span>
                    Raise from beginning
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-university fa-2x" aria-hidden="true"></i>
                    </span>
                    For matures
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-trophy fa-2x" aria-hidden="true"></i>
                    </span>
                    Expert to unstoppable
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Technology and languages</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-random fa-2x" aria-hidden="true"></i>
                    </span>
                    Laguages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-random fa-2x" aria-hidden="true"></i>
                    </span>
                    Technologies
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-random fa-2x" aria-hidden="true"></i>
                    </span>
                    Architectures
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon">
                        <i class="fa fa-random fa-2x" aria-hidden="true"></i>
                    </span>
                    Complete solutions
                </a>
            </li>
        </ul>
    </div>
</nav>